/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require leaflet
 *= require leaflet.draw
 *= require_tree .
 *= require_self
 */
 body{
 	padding: 5px;
 	margin:5px;
 }
.mapa{

	width: 100%;
	max-width: 800px;
	height: 800px;
	max-height: 800px;
	float: left;

	padding: 10px;
	margin: 10px;
}

.conteudo{

	/*padding: 20px;*/

}

.titulo:hover{
	text-decoration: underline;
	cursor: pointer;
}

#search-box {
    position: relative;
    width: 100%;
    margin: 0;
}
#search-form {
    height: 40px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
#search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}
#search-box input[type="text"] {
    width: 90%;
    padding: 11px 0 12px 1em;
    color: #333;
    outline: none;
}
#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #4d90fe; /*--define a cor do botão Buscar--*/
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.layers{

	float: left;
	width: 450px;
	padding: 10px;
	margin:10px;	
}


.caixa{
	width: 20%;
    padding: 11px 0 12px 1em;
    color: #333;
    outline: none;
    margin-left: 20px;
}

.link{
	color: #286090 !important; 
}

.link:hover{
	background-color: rgba(0, 0, 0, 0);
}

.table{
	width: 35%;
}

.direita{
	float: right;
	margin-right: 30px;
}